@model AEOnline.Models.WebModels.CreacionUsuario

@{
    ViewBag.Title = "Crear Usuario";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";

    string rol = "";

    if (Session["Rol"] != null)
    {
        rol += Session["Rol"].ToString();
    }

    if (rol != "SuperAdmin")
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Crear nuevo usuario</h2>

@using (Html.BeginForm("CrearUsuario", "SuperAdmin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, "Confirmar contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, "Contraseña", new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rol, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Rol, htmlAttributes: new { @class = "form-control", @id = "cmbRol" })
                @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="cmbFlota">     
            <label class = "control-label col-md-2">Flota asignada</label>
            <div class="col-md-10">
                @Html.DropDownList("FlotaId", null, htmlAttributes: new { @class = "form-control" })      
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Volver a la lista", "AdminUsuarios")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
            if ($("#cmbRol option:selected").index() == 0) {
                $("#cmbFlota").hide();
            }
            else {
                if ($("#cmbRol option:selected").index() == 1) {
                    $("#cmbFlota").show()
                }
                else {
                    $("#cmbFlota").hide()
                }
            }

            $("#cmbRol").on("change", function () {
                if ($("#cmbRol option:selected").index() == 0) {
                    $("#cmbFlota").hide();
                }
                else {
                    if ($("#cmbRol option:selected").index() == 1) {
                        $("#cmbFlota").show()
                    }
                    else {
                        $("#cmbFlota").hide()
                    }
                }
            });
    </script>
}
