@model AEOnline.Models.Flota
@{
    ViewBag.Title = "EliminarFlota";

    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";

    string rol = "";

    if (Session["Rol"] != null)
    {
        rol += Session["Rol"].ToString();
    }

    if (rol != "SuperAdmin")
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>¿Está seguro que desea eliminar la flota @Model.Nombre?</h2>

<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Nombre)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nombre)
    </dd>

    <dt>
        Administrador
    </dt>

    <dd>
        @{
            string nAdmin = "-";

            if (Model.UsuarioFlotaId != null)
            {
                nAdmin = Model.UsuarioFlota.Usuario.Nombre;
            }
        }
        @nAdmin
    </dd>


    <dt>
        N° Autos
    </dt>

    <dd>
        @Model.Autos.Count
    </dd>

    <dt>
        N° Operadores
    </dt>

    <dd>
        @Model.Operadores.Count
    </dd>

</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Confirmar Eliminación" class="btn btn-default" />
    </div>

    <div class="form-actions no-color">
        @Html.ActionLink("Volver a lista de flotas", "AdministrarFlotas")
    </div>
}