@model AEOnline.Models.WebModels.AtajosPanelInicial
@{
    ViewBag.Title = "PanelInicial";

    Layout = "~/Views/Shared/_LayoutAdminFlota2.cshtml";

    string rol = "";

    if (Session["Rol"] != null)
    {
        rol += Session["Rol"].ToString();
    }

    if (rol != "AdminDeFlota")
    {
        Response.Redirect("~/Login/Index");
    }
}

<div class="jumbotron">
    <h1>Panel Inicial</h1>
    @*<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>*@

    <div id="cuadroMensaje" class="alert alert-success" role="alert">
        <h4 id="lblMensaje">@TempData["msg"]</h4>
    </div>

    <div id="TablaVehiculos" class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i><strong><font size="5"> Acceso directo vehículos</font></strong>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Nombre vehículo
                            </th>
                            <th>
                                Operador
                            </th>
                            <th>
                                Registros móviles
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Autos)
                        {
                            <tr>
                                <td>
                                    <div class="btn-group m-lg-1">
                                        <a href="@Url.Action("FichaAuto", "AdminFlota2", new { id = item.Id , menu = 0})" class="btn btn-success">
                                            <i class="fa fa-fw fa-car"></i>
                                            @Html.DisplayFor(modelItem => item.NombreVehiculo)
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    @{
                                        string nOperador = "-";

                                        if (item.OperadorId != null)
                                        {
                                            nOperador = item.Operador.Nombre;
                                        }
                                    }
                                    @nOperador
                                </td>
                                <td>
                                    <div class="btn-group m-lg-1">
                                        <a href="@Url.Action("RegistrosCelular", "AdminFlota2", new { id = item.Id , tipo = 1})" class="btn btn-info">
                                            <i class="fa fa-fw fa-bar-chart"></i>
                                            Registros
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

    $mensaje = $('#lblMensaje');

    document.getElementById("cuadroMensaje").style.display = "none";
    document.getElementById("TablaVehiculos").style.display = "none";

    if ($mensaje.text() != "")
    {
        document.getElementById("cuadroMensaje").style.display = "block";
    }

    if (@Model.Autos.Count > 0)
    {
        document.getElementById("TablaVehiculos").style.display = "block";
    }


    </script>
}