@model AEOnline.Models.Flota
@{
    ViewBag.Title = "MapaDeFlota";

    Layout = "~/Views/Shared/_LayoutAdminFlota2.cshtml";

    string rol = "";

    if (Session["Rol"] != null)
    {
        rol += Session["Rol"].ToString();
    }

    if (rol != "AdminDeFlota")
    {
        Response.Redirect("~/Login/Index");
    }
}

<style>
    html, body, #map {
        width: 100%;
        height: 500px;
        margin: 0;
        padding: 0;
    }

    #map {
        position: relative;
    }
</style>



<h2>Mapa de la flota</h2>

<div id="myDynamicTable"></div>

<div id="map"></div>


<script>


    function CambiarCentroMapa(lat, lng) {
        var punto = new google.maps.LatLng(lat, lng);
        map.setCenter(punto);
    }

    function InicializarCelda(fila, valor, titulo) {
        var td = fila.insertCell();

        var contenido = "";

        if (titulo == true) {
            contenido = '<center><b>' + valor + '</b></center>';
        }
        else {
            contenido = '<center>' + valor + '</center>';
        }

        td.insertAdjacentHTML('beforeend', contenido);
        td.style.border = '1px solid black';
    }


    function tableCreate(filas, array) {
        var myTableDiv = document.getElementById("myDynamicTable");
        myTableDiv.innerHTML = "";

        var tbl = document.createElement('table');
        tbl.style.width = '100px';
        tbl.style.border = '1px solid black';



        var tr = tbl.insertRow();

        InicializarCelda(tr, "Marcador", true);
        InicializarCelda(tr, "Nombre", true);
        InicializarCelda(tr, "Patente", true);
        InicializarCelda(tr, "Operador", true);

        for (var i = 0; i < filas; i++) {


            var nombre = array[i].Nombre;
            var patente = array[i].Patente;
            var operador = array[i].Operador;

            var lat = array[i].Latitud;
            var lng = array[i].Longitud;

            var tr = tbl.insertRow();

            InicializarCelda(tr, '<input type="image" onclick="CambiarCentroMapa(' + lat + ', ' + lng + ')" src="http://maps.google.com/mapfiles/ms/icons/green-dot.png" />', false);
            InicializarCelda(tr, nombre, false);
            InicializarCelda(tr, patente, false);
            InicializarCelda(tr, operador, false);
            
        }

        myTableDiv.appendChild(tbl);
    }



</script>





<script>
    var map;
    var markersMapa = [];

    function initMap() {
        @{ 
            List<AEOnline.Models.Auto> autos = Model.Autos;
            AEOnline.Models.Auto autoCentrado = null;
            for (int i = 0; i < autos.Count; i++)
            {
                if(autos[i].Latitud != 0 && autos[i].Longitud != 0)
                {
                    autoCentrado = autos[i];
                    break;
                }
            }
            double latCentro = 0;
            double lngCentro = 0;

            if(autoCentrado != null)
            {
                latCentro = autoCentrado.Latitud;
                lngCentro = autoCentrado.Longitud;
            }

        }

        map = new google.maps.Map(document.getElementById('map'), {
            center:
            {
                lat:  0, lng: 0      
            },
            zoom: 15
        });

        var punto = new google.maps.LatLng(@latCentro.ToString().Replace(',', '.'), @lngCentro.ToString().Replace(',', '.'));
        map.setCenter(punto);

        @{

            for (int i = 0; i < autos.Count; i++)
            {
                <text>

                var id = @autos[i].Id;
                var patente = "@autos[i].Patente";
                var Latitud = @autos[i].Latitud.ToString().Replace(',', '.');
                var Longitud = @autos[i].Longitud.ToString().Replace(',', '.');

                var marker = new google.maps.Marker(
                {
                    position:{ lat: Latitud , lng: Longitud },
                    map: map,
                    title: "Click para información",
                    draggable: true
                });
                marker.set("patente", patente);
                marker.set("id", id);
                markersMapa.push(marker);

                </text>
            }
        }

        var infowindow = new google.maps.InfoWindow({
            content: ""
        });

        for (var i = 0; i < Object.keys(markersMapa).length; i++)
        {
            markersMapa[i].addListener('click', function () {

                var id = this.get("id");
                infowindow.setContent("<strong>Patente:</strong> " + this.get("patente") + "</br>"
                    + '<a href="/AdminFlota2/FichaAuto/' + id + '?menu=0"> Ver ficha</a><br>'
                    + '<a href="/AdminFlota2/RegistrosCelular/' + id + '?tipo=1"> Ver registros celular</a><br>');

                infowindow.open(map, this);
            });
        }


        setInterval( function (){ ActualizarMarcador() } , 1000);


        function ActualizarMarcador()
            {

            $.ajax({
            type: "GET",
            url: "/AdminFlota2/getPosicionesFlota",
            data:
            {
                _idFlota: @Model.Id
            },

            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                var array = JSON.parse(result.respuesta);
                var arrayLenght = Object.keys(array).length;

                for (var i = 0; i < arrayLenght; i++)
                {
                    var patente = array[i].Patente;
                    var latlng = new google.maps.LatLng(array[i].Latitud, array[i].Longitud);

                    var markerfound = markersMapa.find(function (markerDeArray)
                    {
                        return markerDeArray.get("patente") == patente;
                    });

                    markerfound.setPosition(latlng);
                }

                tableCreate(arrayLenght, array);

                    
                },
            error: function (response) {
                    //alert('eror');
                }
            });

        }

    }





</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu0DHkQkZ-iHDrZr-ztGThEbUyUvgGPfM&callback=initMap"
        async defer></script>
